.playerNamePage {
    position: relative;
    background-image: url("../../assets/images/background_menu.png");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color: rgba(255,255,255, 0.4);
    width: 30vw;
	height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.playerNameInput {
    display: block;
    margin: 0;
    padding: 0.8rem 1.6rem;
    color: inherit;
    width: 60%;
    font-family: inherit;
    font-size: 1rem;
    font-weight: inherit;
    line-height: 1.4;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
}
  
.playerNameInput::placeholder {
    color: #B0BEC5;
}
  
.playerNameInput:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem #DAED6B;
}