<div class="menuPage">
    <section class="welcomeTitle">
    <h1>Bem Vindo(a) ao Warrior Path!</h1>
        <h3>Esta aplicação é uma a solução para o desafio prático do processo 
            seletivo da FPF TECH e está disponivel para acesso no repositório 
            <a href="https://gitlab.com/henriqueannicchino/desafio-fpf-tech-henriqueannicchino" target="_blank">aqui</a>.
        </h3>
    </section>

    <section class="card"> 
        <button class="buttonMenu" name="start" (click)="changePage($event)">Iniciar</button>
        <button class="buttonMenu" name="rules" (click)="changePage($event)">Regras do Jogo</button>
        <button class="buttonMenu" name="ranking" (click)="changePage($event)">Ranking</button>
    </section>

    <span class="author">Aplicação desenvolvida por Luis Henrique(Henrique Annicchino)</span>
</div>
