.rankingPage {
    position: relative;
    background-image: url("../../assets/images/background_menu.png");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.tablePosition{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.leftDown {
    position: absolute;
    bottom: 2%;
    left: 2%;
}