<div class="rankingPage">
    <div *ngIf="tableLoaded" class="tablePosition">
        <table mat-table [dataSource]="dataSourceWithPageSize" class="mat-elevation-z8" [ngStyle]="{'width': '100%'}">
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let emp">{{ emp[column] }}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
            #paginatorPageSize
            [pageSizeOptions]="pageSizes"
            showFirstLastButtons
            [ngStyle]="{'width': '100%'}"
        ></mat-paginator>
    </div>
    <button class="buttonMenu leftDown" (click)="goToHome()">Voltar</button>
</div>
